In [1]:
from tensorflow import keras
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
ch=pd.read_csv('Churn_Modelling.csv')
ch

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
ch.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [8]:
inch=ch[['Gender','Age','Tenure','Balance','CreditScore','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]

In [12]:
inch['Gender']=inch['Gender'].map({'Female':0,'Male':1})

C:\Users\Kaila\AppData\Local\Temp\ipykernel_9916\1582706875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inch['Gender']=inch['Gender'].map({'Female':0,'Male':1})

In [19]:
uni=inch[['Gender','Age','Tenure','Balance','CreditScore','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']].apply(lambda x : x.unique())
uni

Gender                                                        [0, 1]
Age                [42, 41, 39, 43, 44, 50, 29, 27, 31, 24, 34, 2...
Tenure                            [2, 1, 8, 7, 4, 6, 3, 10, 5, 9, 0]
Balance            [0.0, 83807.86, 159660.8, 125510.82, 113755.78...
CreditScore        [619, 608, 502, 699, 850, 645, 822, 376, 501, ...
NumOfProducts                                           [1, 3, 2, 4]
HasCrCard                                                     [1, 0]
IsActiveMember                                                [1, 0]
EstimatedSalary    [101348.88, 112542.58, 113931.57, 93826.63, 79...
dtype: object

In [26]:
type=inch[['Gender','Age','Tenure','Balance','CreditScore','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']].apply(lambda x: x.dtype)
type

Gender               int64
Age                  int64
Tenure               int64
Balance            float64
CreditScore          int64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [27]:
inch.shape

(10000, 9)

In [59]:
from sklearn.metrics import confusion_matrix,classification_report
def model(x,y):
    x = x[:y.shape[0]]
    model = keras.Sequential([
        keras.layers.Dense(50,input_shape=(9,),activation='relu'),
        keras.layers.Dense(1,activation='sigmoid')
    ])
    model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    model.fit(x,y,epochs=5)
    return model

In [30]:
ouch=ch['Exited']

In [34]:
ouch.shape

(10000,)

In [64]:
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train ,Y_text= train_test_split(inch,ouch, test_size=0.2, random_state=42)

In [65]:
X_train.shape

(8000, 9)

In [66]:
Y_train.shape

(8000,)

In [67]:
model= model(X_train,Y_train)

Epoch 1/5

c:\Users\Kaila\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - accuracy: 0.5823 - loss: 4243.0454
Epoch 2/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.6817 - loss: 55.2072
Epoch 3/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.6998 - loss: 59.5297
Epoch 4/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.6810 - loss: 62.9770
Epoch 5/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.6917 - loss: 50.3285

In [68]:
model.evaluate(X_test,Y_text)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8026 - loss: 113.8254

[110.64114379882812, 0.8034999966621399]

In [69]:
y_pred=model.predict(X_test)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

In [70]:
classification_report(Y_text,y_pred)

ValueError: Classification metrics can't handle a mix of binary and continuous targets