In [1]:
from tensorflow import keras
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
ch=pd.read_csv('Churn_Modelling.csv')
ch

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
ch.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [4]:
inch=ch[['Gender','Age','Tenure','Balance','CreditScore','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]

In [5]:
inch['Gender']=inch['Gender'].map({'Female':0,'Male':1})

/tmp/ipython-input-5-1582706875.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inch['Gender']=inch['Gender'].map({'Female':0,'Male':1})

In [6]:
uni=inch[['Gender','Age','Tenure','Balance','CreditScore','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']].apply(lambda x : x.unique())
uni

Gender                                                        [0, 1]
Age                [42, 41, 39, 43, 44, 50, 29, 27, 31, 24, 34, 2...
Tenure                            [2, 1, 8, 7, 4, 6, 3, 10, 5, 9, 0]
Balance            [0.0, 83807.86, 159660.8, 125510.82, 113755.78...
CreditScore        [619, 608, 502, 699, 850, 645, 822, 376, 501, ...
NumOfProducts                                           [1, 3, 2, 4]
HasCrCard                                                     [1, 0]
IsActiveMember                                                [1, 0]
EstimatedSalary    [101348.88, 112542.58, 113931.57, 93826.63, 79...
dtype: object

In [7]:
type=inch[['Gender','Age','Tenure','Balance','CreditScore','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']].apply(lambda x: x.dtype)
type

Gender               int64
Age                  int64
Tenure               int64
Balance            float64
CreditScore          int64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
dtype: object

In [8]:
inch.shape

(10000, 9)

In [42]:
from sklearn.metrics import confusion_matrix,classification_report
def create_model(x,y):
    x = x[:y.shape[0]]
    model = keras.Sequential([
        keras.layers.Dense(50,input_shape=(9,),activation='relu'),
        keras.layers.Dense(1,activation='sigmoid')
    ])
    model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
    model.fit(x,y,epochs=5)
    return model

In [10]:
ouch=ch['Exited']

In [11]:
ouch.shape

(10000,)

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train ,Y_text= train_test_split(inch,ouch, test_size=0.2, random_state=42)

In [13]:
X_train.shape

(8000, 9)

In [14]:
Y_train.shape

(8000,)

In [15]:
model= model(X_train,Y_train)

Epoch 1/5

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.6355 - loss: 1157.1140
Epoch 2/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.6949 - loss: 54.4291
Epoch 3/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6931 - loss: 75.9662
Epoch 4/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6836 - loss: 55.3858
Epoch 5/5
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.6840 - loss: 53.9967

In [16]:
model.evaluate(X_test,Y_text)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6184 - loss: 66.6185

[66.86469268798828, 0.625]

In [17]:
y_pred=model.predict(X_test)
y_pred

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[0.00324195],
       [0.        ],
       [0.        ],
       ...,
       [0.        ],
       [0.        ],
       [1.        ]], dtype=float32)

In [18]:
Y_text.tolist()

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 ...]

In [21]:
print(classification_report(Y_text.tolist(),y_pred.tolist()))

              precision    recall  f1-score   support

           0       0.82      0.68      0.74      1607
           1       0.23      0.40      0.30       393

    accuracy                           0.62      2000
   macro avg       0.53      0.54      0.52      2000
weighted avg       0.71      0.62      0.66      2000

UNDERSAMPLING

In [25]:
ouch.value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [26]:
new=pd.concat([inch,ouch],axis=1)
new

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,42,2,0.00,619,1,1,1,101348.88,1
1,0,41,1,83807.86,608,1,0,1,112542.58,0
2,0,42,8,159660.80,502,3,1,0,113931.57,1
3,0,39,1,0.00,699,2,0,0,93826.63,0
4,0,43,2,125510.82,850,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...
9995,1,39,5,0.00,771,2,1,0,96270.64,0
9996,1,35,10,57369.61,516,1,1,1,101699.77,0
9997,0,36,7,0.00,709,1,0,1,42085.58,1
9998,1,42,3,75075.31,772,2,1,0,92888.52,1
9999,0,28,4,130142.79,792,1,1,0,38190.78,0

In [27]:
new0=new[new['Exited']==0]
new0

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,0,41,1,83807.86,608,1,0,1,112542.58,0
3,0,39,1,0.00,699,2,0,0,93826.63,0
4,0,43,2,125510.82,850,1,1,1,79084.10,0
6,1,50,7,0.00,822,2,1,1,10062.80,0
8,1,44,4,142051.07,501,2,0,1,74940.50,0
...,...,...,...,...,...,...,...,...,...,...
9993,1,28,7,155060.41,644,1,1,0,29179.52,0
9994,0,29,2,0.00,800,2,0,0,167773.55,0
9995,1,39,5,0.00,771,2,1,0,96270.64,0
9996,1,35,10,57369.61,516,1,1,1,101699.77,0
9999,0,28,4,130142.79,792,1,1,0,38190.78,0

In [29]:
new1=new[new['Exited']==1]
new1

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,42,2,0.00,619,1,1,1,101348.88,1
2,0,42,8,159660.80,502,3,1,0,113931.57,1
5,1,44,8,113755.78,645,2,1,0,149756.71,1
7,0,29,4,115046.74,376,4,1,0,119346.88,1
16,1,58,1,132602.88,653,1,1,0,5097.67,1
...,...,...,...,...,...,...,...,...,...,...
9981,1,42,3,152039.70,498,1,1,1,53445.17,1
9982,0,46,7,137145.12,655,1,1,0,115146.40,1
9991,0,53,4,88381.21,597,1,1,0,69384.71,1
9997,0,36,7,0.00,709,1,0,1,42085.58,1
9998,1,42,3,75075.31,772,2,1,0,92888.52,1

In [30]:
new0=new0.sample(len(new1))
new0

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1864,1,45,7,123859.60,607,1,0,1,113051.57,0
7166,0,40,8,0.00,618,2,1,0,80204.38,0
1686,1,36,5,0.00,682,2,1,1,147758.51,0
7264,1,33,3,0.00,434,1,1,1,2739.71,0
6930,1,30,3,165257.20,751,1,0,0,134822.05,0
...,...,...,...,...,...,...,...,...,...,...
5598,0,57,7,116936.81,616,1,1,1,104379.36,0
1691,1,31,8,0.00,591,1,1,1,141677.33,0
9431,0,24,5,172231.93,523,1,0,1,155144.12,0
6740,0,40,2,147171.20,670,1,0,1,69850.04,0
1969,0,36,5,0.00,717,2,1,1,145551.60,0

In [38]:
new=pd.concat([new0,new1],axis=0)
new

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1864,1,45,7,123859.60,607,1,0,1,113051.57,0
7166,0,40,8,0.00,618,2,1,0,80204.38,0
1686,1,36,5,0.00,682,2,1,1,147758.51,0
7264,1,33,3,0.00,434,1,1,1,2739.71,0
6930,1,30,3,165257.20,751,1,0,0,134822.05,0
...,...,...,...,...,...,...,...,...,...,...
9981,1,42,3,152039.70,498,1,1,1,53445.17,1
9982,0,46,7,137145.12,655,1,1,0,115146.40,1
9991,0,53,4,88381.21,597,1,1,0,69384.71,1
9997,0,36,7,0.00,709,1,0,1,42085.58,1
9998,1,42,3,75075.31,772,2,1,0,92888.52,1

In [39]:
inc=new.drop(columns=['Exited'])
inc

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1864,1,45,7,123859.60,607,1,0,1,113051.57
7166,0,40,8,0.00,618,2,1,0,80204.38
1686,1,36,5,0.00,682,2,1,1,147758.51
7264,1,33,3,0.00,434,1,1,1,2739.71
6930,1,30,3,165257.20,751,1,0,0,134822.05
...,...,...,...,...,...,...,...,...,...
9981,1,42,3,152039.70,498,1,1,1,53445.17
9982,0,46,7,137145.12,655,1,1,0,115146.40
9991,0,53,4,88381.21,597,1,1,0,69384.71
9997,0,36,7,0.00,709,1,0,1,42085.58
9998,1,42,3,75075.31,772,2,1,0,92888.52

In [40]:
out=new['Exited']
out

1864    0
7166    0
1686    0
7264    0
6930    0
       ..
9981    1
9982    1
9991    1
9997    1
9998    1
Name: Exited, Length: 4074, dtype: int64

In [43]:
trained_model = create_model(inc,out)

Epoch 1/5
128/128 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.5010 - loss: 1680.6794
Epoch 2/5
128/128 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.4972 - loss: 120.0713
Epoch 3/5
128/128 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5228 - loss: 61.3425
Epoch 4/5
128/128 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5173 - loss: 63.8223
Epoch 5/5
128/128 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.5364 - loss: 44.9145

In [46]:
pred=model.predict(inc)
pred=(pred>0.5)
pred

128/128 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[ True],
       [False],
       [False],
       ...,
       [ True],
       [False],
       [ True]])

In [47]:
print(classification_report(out,pred))

              precision    recall  f1-score   support

           0       0.53      0.68      0.60      2037
           1       0.56      0.40      0.47      2037

    accuracy                           0.54      4074
   macro avg       0.55      0.54      0.53      4074
weighted avg       0.55      0.54      0.53      4074

**OVERSAMPLING**

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [50]:
new=pd.concat([inch,ouch],axis=1)
new

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,42,2,0.00,619,1,1,1,101348.88,1
1,0,41,1,83807.86,608,1,0,1,112542.58,0
2,0,42,8,159660.80,502,3,1,0,113931.57,1
3,0,39,1,0.00,699,2,0,0,93826.63,0
4,0,43,2,125510.82,850,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...
9995,1,39,5,0.00,771,2,1,0,96270.64,0
9996,1,35,10,57369.61,516,1,1,1,101699.77,0
9997,0,36,7,0.00,709,1,0,1,42085.58,1
9998,1,42,3,75075.31,772,2,1,0,92888.52,1
9999,0,28,4,130142.79,792,1,1,0,38190.78,0

In [52]:
new0=new[new['Exited']==0]
new0.shape

(7963, 10)

In [53]:
new1=new[new['Exited']==1]
new1.shape

(2037, 10)

In [54]:
new1=new1.sample(7963,replace=True)
new1.shape

(7963, 10)

In [56]:
ne=pd.concat([new0,new1],axis=0)
ne

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,0,41,1,83807.86,608,1,0,1,112542.58,0
3,0,39,1,0.00,699,2,0,0,93826.63,0
4,0,43,2,125510.82,850,1,1,1,79084.10,0
6,1,50,7,0.00,822,2,1,1,10062.80,0
8,1,44,4,142051.07,501,2,0,1,74940.50,0
...,...,...,...,...,...,...,...,...,...,...
3268,1,54,5,0.00,690,1,1,0,12847.61,1
2372,0,43,1,125537.38,737,1,1,0,138510.01,1
9613,1,33,1,0.00,635,3,0,0,178067.33,1
4667,1,54,3,144768.94,749,1,1,0,93336.30,1
1318,0,43,5,0.00,598,3,1,1,100722.72,1

In [64]:
inc = ne.drop(columns=['Exited'])
inc

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
1,0,41,1,83807.86,608,1,0,1,112542.58
3,0,39,1,0.00,699,2,0,0,93826.63
4,0,43,2,125510.82,850,1,1,1,79084.10
6,1,50,7,0.00,822,2,1,1,10062.80
8,1,44,4,142051.07,501,2,0,1,74940.50
...,...,...,...,...,...,...,...,...,...
3268,1,54,5,0.00,690,1,1,0,12847.61
2372,0,43,1,125537.38,737,1,1,0,138510.01
9613,1,33,1,0.00,635,3,0,0,178067.33
4667,1,54,3,144768.94,749,1,1,0,93336.30
1318,0,43,5,0.00,598,3,1,1,100722.72

In [65]:
ouc=ne['Exited']
ouc

1       0
3       0
4       0
6       0
8       0
       ..
3268    1
2372    1
9613    1
4667    1
1318    1
Name: Exited, Length: 15926, dtype: int64

In [66]:
model= create_model(inc,ouc)

Epoch 1/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - accuracy: 0.5111 - loss: 1512.9082
Epoch 2/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - accuracy: 0.5065 - loss: 77.4962
Epoch 3/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5169 - loss: 67.6444
Epoch 4/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5200 - loss: 83.6416
Epoch 5/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5284 - loss: 58.0207

In [69]:
pred=model.predict(inc)
pred=(pred>0.5).astype(int)
pred

498/498 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [70]:
print(classification_report(ouc,pred))

              precision    recall  f1-score   support

           0       0.52      0.93      0.66      7963
           1       0.65      0.12      0.20      7963

    accuracy                           0.53     15926
   macro avg       0.58      0.53      0.43     15926
weighted avg       0.58      0.53      0.43     15926

**SMOTE**

In [71]:
from imblearn.over_sampling import SMOTE
smote=SMOTE(sampling_strategy='minority')

In [73]:
new=pd.concat([inch,ouch],axis=1)
new

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,42,2,0.00,619,1,1,1,101348.88,1
1,0,41,1,83807.86,608,1,0,1,112542.58,0
2,0,42,8,159660.80,502,3,1,0,113931.57,1
3,0,39,1,0.00,699,2,0,0,93826.63,0
4,0,43,2,125510.82,850,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...
9995,1,39,5,0.00,771,2,1,0,96270.64,0
9996,1,35,10,57369.61,516,1,1,1,101699.77,0
9997,0,36,7,0.00,709,1,0,1,42085.58,1
9998,1,42,3,75075.31,772,2,1,0,92888.52,1
9999,0,28,4,130142.79,792,1,1,0,38190.78,0

In [78]:
X_resampled, y_resampled = smote.fit_resample(new.drop(columns=['Exited']),new['Exited'])

In [79]:
X_resampled

,Gender,Age,Tenure,Balance,CreditScore,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,0,42,2,0.000000,619,1,1,1,101348.880000
1,0,41,1,83807.860000,608,1,0,1,112542.580000
2,0,42,8,159660.800000,502,3,1,0,113931.570000
3,0,39,1,0.000000,699,2,0,0,93826.630000
4,0,43,2,125510.820000,850,1,1,1,79084.100000
...,...,...,...,...,...,...,...,...,...
15921,0,44,5,0.000000,609,1,0,0,191645.409649
15922,0,50,4,111805.421217,695,1,1,0,20849.339832
15923,0,40,5,119563.576326,464,1,1,0,91608.808290
15924,0,37,1,122901.270213,601,1,0,0,103159.638064
15925,1,48,5,98913.859725,572,1,1,0,195580.563872

In [80]:
y_resampled

0        1
1        0
2        1
3        0
4        0
        ..
15921    1
15922    1
15923    1
15924    1
15925    1
Name: Exited, Length: 15926, dtype: int64

In [81]:
model=create_model(X_resampled,y_resampled)

Epoch 1/5

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

498/498 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.5026 - loss: 1445.5668
Epoch 2/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.5164 - loss: 65.2756
Epoch 3/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.5272 - loss: 60.1531
Epoch 4/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.5286 - loss: 61.0506
Epoch 5/5
498/498 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.5307 - loss: 47.0831

In [82]:
pred=model.predict(X_resampled)
pred=(pred>0.5).astype(int)
pred

498/498 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [84]:
print(classification_report(y_resampled,pred))

              precision    recall  f1-score   support

           0       0.50      1.00      0.67      7963
           1       0.66      0.00      0.01      7963

    accuracy                           0.50     15926
   macro avg       0.58      0.50      0.34     15926
weighted avg       0.58      0.50      0.34     15926