In [2]:
import tensorflow as tf 
import pandas as pd
import numpy as np 
from tensorflow import keras

In [4]:
df=pd.read_csv("Salary.csv")

In [5]:
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
370,35.0,Female,Bachelor's,Senior Marketing Analyst,8.0,85000.0
371,43.0,Male,Master's,Director of Operations,19.0,170000.0
372,29.0,Female,Bachelor's,Junior Project Manager,2.0,40000.0
373,34.0,Male,Bachelor's,Senior Operations Coordinator,7.0,90000.0
374,44.0,Female,PhD,Senior Business Analyst,15.0,150000.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

In [7]:
df['Education Level'].value_counts()

Education Level
Bachelor's    224
Master's       98
PhD            51
Name: count, dtype: int64

In [8]:
df['Job Title'].value_counts()

Job Title
Director of Marketing              12
Director of Operations             11
Senior Business Analyst            10
Senior Marketing Analyst            9
Senior Marketing Manager            9
                                   ..
Business Development Manager        1
Customer Service Representative     1
IT Manager                          1
Digital Marketing Manager           1
Junior Web Developer                1
Name: count, Length: 174, dtype: int64

In [9]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

In [15]:
df=df.dropna()

In [16]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [18]:
df['Gender'].value_counts()

Gender
Male      194
Female    179
Name: count, dtype: int64

In [27]:
df['Gender']=df['Gender'].apply(lambda x : 1 if x=='Female' else 0)

C:\Users\Kaila\AppData\Local\Temp\ipykernel_10852\1499105620.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender']=df['Gender'].apply(lambda x : 1 if x=='Female' else 0)

In [28]:
df['Gender'].value_counts()

Gender
0    194
1    179
Name: count, dtype: int64

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Education Level']=le.fit_transform(df['Education Level'])
df['Job Title']=le.fit_transform(df['Job Title'])

C:\Users\Kaila\AppData\Local\Temp\ipykernel_10852\930720163.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Education Level']=le.fit_transform(df['Education Level'])
C:\Users\Kaila\AppData\Local\Temp\ipykernel_10852\930720163.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Job Title']=le.fit_transform(df['Job Title'])

In [30]:
df['Education Level'].value_counts()

Education Level
0    224
1     98
2     51
Name: count, dtype: int64

In [31]:
df['Job Title'].value_counts()

Job Title
29     12
30     11
110    10
131     9
134     9
       ..
4       1
14      1
43      1
21      1
80      1
Name: count, Length: 174, dtype: int64